h1{
     text-align: center;
 }
 .container{
     padding: 10px;
     display: block;
 }
 .marker{
     display: block;
     background: linear-gradient(rgb(100, 65, 21), rgb(245, 62, 113), rgb(162, 27, 27));
     box-shadow: 0 0 20px 0 rgba(74, 10, 10, 0.8);
     width: 220px;
     height: 25px;
     margin: 10px auto;
     display: block;
 }
 .green{
     background: linear-gradient(#55680D, #6ff13c, #0f652d);
     box-shadow: 0 0 20px 0 #316d19cc;
     width: 220px;
     height: 25px;
     margin: 10px auto;
     display: block;
 }
 .mid{
     display: inline-block;
 }
 .mid{
     width: 60px;
     height: 25px 
 }
 .end{
     display: inline-block;
 }
 .end{
     width: 110px;
     height: 25px;
     background-color: rgba(255, 255, 255, 0.5);
     border-left: 10px double rgba(0, 0, 0, 0.75);
 }
 .blue{
     background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
     box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
     width: 220px;
     height: 25px;
     margin: 10px auto;
     display: block;
 }